# Database Configuration
DB_USER=username
DB_PASSWORD=password
DB_NAME=database_name

# Python Connection URL
DATABASE_URL=postgresql+asyncpg://username:password@localhost:5432/database_name

# CoinGecko API Key
COINGECKO_API_KEY=your_actual_api_key